fastapi~=0.115.0
uvicorn~=0.31.0
sqlalchemy~=2.0.35
pydantic~=2.9.2
python-dotenv~=1.0.1
alembic~=1.13.3
requests~=2.32.3
psycopg2-binary
boto3~=1.35.37
botocore~=1.35.37
typing_extensions~=4.12.2
certifi~=2024.8.30
pillow==11.0.0
aio_pika
tenacity~=9.0.0
PyJWT[crypto]==2.9.0
cryptography>=41.0.0
redis~=5.2.0
google-auth
google-auth-oauthlib
python-multipart~=0.0.18
firebase-admin~=6.5.0

starlette~=0.40.0
aio-pika~=9.4.3
protobuf~=5.28.3
pytz
python-dateutil